/* Wide Desktop view*/
@media only screen and (min-width: 60em) {

    a {
        margin: 0;
    }
    .navigation {
        display: flex;
    }

    .navigation a {
        font-size: 1.2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        overflow: hidden;
    }

    navigation li::before {
        content: '';
        position: absolute;
        width: 1.5em;
        height: 100%;
        background-color: black;
        border-radius: 0;
        top: 0;
        left: -0.75em;
        transition: 0.5s ease-out;
    }
    
    navigation li:hover::before {
        transform: scale(7);
    }

    .outline {
        flex-direction: row;
    }

    .serviceOutline {
        flex-direction: row;
    }

    .innerline {
        display: block;
    }

    .title {
        font-size: 3.8rem;
    }

    .head {
        flex-direction: row;
    }

    .logo {
        margin: 2rem;
    }

    .moto {
        font-size: 2.3rem;
    }

    .review {
        display: none;
    }

    .review2 {
        display: flex;
    }

    .full {
        width: 100%;
    }

    h2 {
        font-size: 2.5rem;
    }

}