/* CSS for the head. */
header {
    display: flex;
    flex-direction: column;
    background: #1e2748;
}

.moto {
    display: flex;
    color: white;
    text-align: center;
    margin: 1rem auto;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;   
}

.moto-animation {
    animation: scale 3s;
}

img {
    width: 100%;
}

.logo {
    max-width: 250px;
    margin: 1rem auto;
}

.logo-animation {
    animation: logo 2s;
}

@keyframes logo {
    from {opacity: 0;}
    to {opacity: 1;}
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.margin-bottom {
    margin-bottom: 0;
}

.margin-top {
    margin-top: 0;
}

ul {
    margin: 0;
}

nav {
    font-family: 'Cabin', sans-serif;
    background-color: #1e2748;
}

.navigation {
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    transition: 0.4s;
}

.navigation a:hover {
    background-color: #307ad9;
    font-weight: 700;
}

.navigation li a:hover {
    color: #ffffff;
  }
  
.responsive li {
    display: block;
}

a {
    color: white;
    text-decoration: none;
    margin: auto;
}

a:hover {
    color: white;

}

.menu-icon {
    cursor: pointer;
    width: 42px;
    margin: auto;
  }
  
  #menu-icon::after, 
  #menu-icon::before, 
  #menu-icon span {
    background-color: #307ad9;
    border-radius: 5px;
    content: '';
    display: block;
    height: 5px;
    margin: 8px 0;
    transition: all .3s ease-in-out;
  }
  
  #menu-icon:hover::after, 
  #menu-icon:hover::before, 
  #menu-icon:hover span {
    background: white;
  }

  .close::before {
    transform: translateY(13px) rotate(45deg);
  }
  
  .close::after {
    transform: translateY(-13px) rotate(-45deg);
  }
  
  .responsive span {
    transform: scale(0);
  }

main {
    width: 97%;
    margin: 1rem auto;
}

.active {
    background: #307ad9;
}

.home {
    width: 100%;
}

.homeimg {
    width: 95%;
    height: 400px;
    max-width: 500px;
    border-radius: 1rem;
    transition: max-width .5s, width .5s, box-shadow .5s;
}

.homeimg:hover {
    box-shadow: 10px 10px 12px #307ad9;
}

.outline {
    display: flex;
    flex-direction: column;
    background: #307ad9;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem auto;
}

.justify-small {
    align-items: center;
    justify-content: center;
}

.serviceOutline {
    display: flex;
    flex-direction: column;
    background: #307ad9;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem auto;
}

.innerline {
    background: #1e2748;
    border: solid 1px black;
    margin: 1rem;
    padding: 1rem;
}

.innerline-review {
    width: 94%;
    background: #1e2748;
    border: solid 1px black;
    margin: 1rem;
    padding: 1rem;
}

.title {
    color: #1e2748;
    font-weight: bolder;
    text-shadow: 1px 1px 3px #307ad9;
    padding: 1rem;
    margin: 1.5rem auto;
    text-align: center;
    font-size: 2.5rem;
}

.review {
    display: flex;
    align-items: center;
    justify-content: center;
}

.review2 {
    display: none;
}

.gary {
    max-width: 250px;
}

.center {
    text-align: center;
}

#more {
    display: none;
}

button#myBtn {
    background: #307ad9;
    border: none;
    border-radius: .5rem;
    color: white;
    padding: .5rem;
    margin: 1rem;
}

.contact-pic {
    max-width: 254px;
}

/* CSS for the footer */
footer {
    background: #1e2748;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: .7rem;
}

footer div {
    margin: 1rem auto;
}

.icon {
    max-width: 48px;
}

.homeadvisor {
    display: block;
    margin: auto;
    padding: 1rem;
    max-width: 120px;
    transition: max-width .5s;
}

.homeadvisor:hover {
    max-width: 125px;
}

.badges {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.badges div {
    width: 100%;
}

.business-card {
    display: block;
    max-width: 805px;
    margin: auto;
}

.radon-link {
    color: #307ad9;
    text-decoration: underline;
}

/*cards*/
.container {
    width: 95%;
    height: 400px;
    max-width: 500px;
    border-radius: 1rem;
    transition: max-width .5s, width .5s, box-shadow .5s;
    margin: auto;
    background-image: url(../images/24.jpg);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.container2 {
    width: 95%;
    height: 400px;
    max-width: 500px;
    border-radius: 1rem;
    transition: max-width .5s, width .5s, box-shadow .5s;
    margin: auto;
    background-image: url(../images/experience.jpg);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.container3 {
    width: 95%;
    height: 400px;
    max-width: 500px;
    border-radius: 1rem;
    transition: max-width .5s, width .5s, box-shadow .5s;
    margin: auto;
    background-image: url(../images/labtest.jpg);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.container:hover, .container2:hover, .container3:hover {
    box-shadow: 10px 10px 12px #307ad9;
}

.overlay {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: rgba(41, 41, 41, 0.9);
    border-radius: 1rem;
    opacity: 0;
    transition: all 0.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .items {
    padding-left: 20px;
    letter-spacing: 3px;
  }

  .head {
    font-size: 30px;
    line-height: 40px;
    /*transform: translateY(40px);*/
    transition: all 0.7s;
  }

.head hr {
    display: block;
    width: 0;
    border: none;
    border-bottom: solid 2px #FEF5DF;
    position: absolute;
    bottom: 0; left:20px;
    transition: all .5s;
}
  
  .price {
    font-size: 18px;
    font-weight: bold;  
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
  }

  .price .old {
    text-decoration: line-through;
    color: lighten(rgb(77, 77, 77),40%);
  }
  
  .cart {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    transform: translateY(40px);
    transition: all 0.7s;
  }

  .cart i {
    font-size: 16px;
  }
  .cart span {
    margin-left: 10px;
  }
  
  .container:hover .overlay, .container2:hover .overlay, .container3:hover .overlay {
    opacity: 1;
  }

    .container:hover .overlay .head, .container2:hover .overlay .head, .container3:hover .overlay .head {
      transform: translateY(0px);
    }
    
    .container:hover .overlay hr, .container2:hover .overlay hr, .container3:hover .overlay hr {
      width: 85%;
      transition-delay: 0.4s;
    }
    
    .container:hover .overlay .price, .container2:hover .overlay .price, .container3:hover .overlay .price {
      transform: translateY(0px);
      transition-delay: 0.3s;
      opacity: 1;
    }
    
    .container:hover .overlay .cart, .container2:hover .overlay .cart, .container3:hover .overlay .cart {
      transform: translateY(0px);
      transition-delay: 0.6s;
      opacity: 1;
    }

    /* Moto animation */
    @keyframes scale {
  0% {
    opacity: 0.2;
    transform: scale(10);
    filter: blur(10px);
  }

  50%,
  85% {
    opacity: 0.8;
    transform: scale(1);
    filter: blur(0);
  }

  100% {
    opacity: 1;
  }
}